.address-admin{background-color: #fff;overflow: hidden;margin-top: 15px;}
.address-admin-top{height: 3.2rem;}
.address-admin-name{float: left;}
.address-admin-name p{margin-left: 1rem;line-height: 3.2rem;margin-right: 2rem;float: left;}
.address-admin-name span{line-height: 3.2rem;float: left;}
.address-admin-default{float: right;margin-right: 1rem;}
.address-admin-default p{color: #666;line-height: 3.2rem;float: left;margin-right: .5rem;}
.address-admin-default .default-gray{background: url(../images/default-gray.png) no-repeat;float: right;width: 2.6rem;height: 1.4rem;margin-top: .9rem;display: block;background-size: 2.6rem 1.4rem;}
.address-admin-default .default-red{background: url(../images/default-red.png) no-repeat;float: right;width: 2.6rem;height: 1.4rem;margin-top: 1rem;display: block;background-size: 2.6rem 1.4rem;}
.address-admin-bottom{height: 1.6rem;}
.address-admin-address{float: left;width: 63%;margin-bottom: .5rem;}
.address-admin-address p{color: #666;overflow: hidden;margin-left: 1rem;width: 90%;}
.address-admin-edit{float: right;;margin-bottom: .5rem;width: 37%;}
.address-admin-edit a{margin-right: 1rem;;float: right;;display: block;line-height: 3.2rem;}
.address-admin-edit a img{width: 1.2rem;}
.address-admin-edit span{color: #666;}
/*管理收货地址*/

.address-admin-button{background-color: #ff303d;width: 75%;height: 3.6rem;text-align: center;border-radius: 5px;margin: 15px auto;}
.address-admin-button a{line-height: 3.6rem;display: block;color: #fff;font-size: 16px;}