.apply-promote{overflow: hidden;}
.apply-remind{color: #666;padding: 0 1rem;line-height: 3.6rem;}
.apply-submit{width: 100%;height: 3.6rem;}
.apply-submit a{height: 3.6rem;line-height: 3.6rem;background-color: #fff;text-align: center;display: block;font-size: 16px;}
/*申请*/

.apply-promote-det {
  
}
.apply-promote-det .wri-mes {
  background: #fff;
  margin-top: 15px;
}
.apply-promote-det .wri-mes ul {
  padding: 1rem 0;
}
.apply-promote-det .wri-mes li {
  line-height: 3.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.apply-promote-det .wri-mes li:last-child {
  margin-bottom: 0;
}
.apply-promote-det .wri-mes li span {
  margin-right: 1rem;
  display: inline-block;
  width: 25%;
  text-align: right;
}
.apply-promote-det .wri-mes li input {
  height: 3.1rem;
  width: 60%;
  text-indent: 5px;
  border: 1px solid #e4e4e4;
  outline: none;
}
.apply-promote-det .wri-mes li select {
  height: 3.1rem;
  width: 18%;
  text-indent: 5px;
  margin-right: 3%;
  outline: none;
  border: 1px solid #e4e4e4;
}
.apply-promote-det .wri-mes li a {
  background: #e4e4e4;
  display: inline-block;
  width: 25%;
  text-align: center;
}

.apply-promote-det .pro-submit {
  margin-top: 15px;
  width: 100%;
}
.apply-promote-det .pro-submit a {
  display: block;
  width: 75%;
  margin: auto;
  height: 3.6rem;
  line-height: 3.6rem;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #ff303d;
}
/*填写申请信息*/

.apply-review {
  margin-top: 2rem;
  text-align: center;
}
.apply-review img {
  height: 4rem;
}
.apply-review span {
  display: block;
  line-height: 3.2rem;
  width: 100%;
  overflow: hidden;
  color: #666;
}
/审核中*/
