.classify-header{overflow: hidden;position: fixed;width: 100%;max-width: 768px;z-index: 100;background: #fff;}
.classify-search-box{position: relative;height: 4.4rem;width: 90%;margin: 0 auto;}
.classify-search-box input{height: 3rem;width: 100%;border-radius: 5px;text-indent: 3rem;border: 1px solid #ccc;margin: .7rem 0; -webkit-appearance: none;font-size: 14px;}
.classify-search-box img{margin-left: 1rem;position: absolute;left: 0%;top:38%;width: 1.4rem;}
/*头部*/

.classify-lis{overflow: hidden;width: 100%;position: relative;}
.classify-lis ul{border-top: 1px solid #e4e4e4;overflow: hidden;}
.classify-lis ul li{border-bottom: 1px solid #e4e4e4;}
.classify-left{float: left;width: 26%;}
.classify-left ul li{background-color: #fff;padding: .5rem 0;border-right: 1px solid #e4e4e4;}
.classify-left ul li a{display: block;}
.classify-left ul li a img{height: 5.8rem;display: block;width: 5.8rem;margin: 0 auto;}
.classify-left ul li span{width: 100%;text-align: center;display: block;margin-top: .5rem;}
.classify-left ul li .arrow{color: #ff303d;}
/*一级目录*/

.classify-middle{float: left;width: 38%;position: absolute;top: 0px;left: 26%; background-color: #fff}
.classify-middle li{height: 4.2rem;text-align: center;padding: 0 !important;border-right: 0 !important;}
.classify-middle li a{height: 4.2rem;display: block;line-height: 4.2rem;}
.classify-middle .on{background-color: #f0f2f5;}
/*二级目录*/

.classify-right{float: left;width: 38%; position: absolute;left: 64%;top: 0; background-color: #fff}
.classify-right ul{border-right: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4;}
.classify-right li{height: 4rem;line-height: 4rem;text-align: center;padding: 0 !important;}
.classify-right li a{color: #666;height: 4rem;display: block;line-height: 4rem;}
/*三级目录*/

.classify-space{height: 5.4rem;margin-top: 15px;}
/*空白区间*/

.footer-classify dd{color: #ff303d;}
/*底部*/