.login-admin{overflow: hidden;}

.login-admin .now-acc{background: #fff;width: 90%;margin: 1rem auto 0;overflow: hidden;}
.now-acc .now-acc-tit{height: 3.5rem;border-bottom: 1px solid #f0f2f5;}
.now-acc .now-acc-tit p{line-height: 3.2rem;font-size: 16px;margin-left: 1rem;}
.now-acc .now-acc-con{width: 100%;overflow: hidden;}
.now-acc-con p{float: left;width: 30%;}
.now-acc-con p img{width: 6rem;margin: 1rem;}
.now-acc-con ul{width: 70%;float: left;margin-top: 1rem;}
.now-acc-con ul li{color: #666;}
.now-acc-con ul li span{overflow: hidden;}
.now-acc .now-acc-but{width: 70%;float: right;margin-bottom: 1rem;}
.now-acc .now-acc-but a{color: #fff;height: 3.6rem;line-height: 3.6rem;background-color: #ccc;text-align: center;display: block;border-radius: 5px;font-size: 16px;width: 70%;}

.login-admin .cha-acc{background: #fff;width: 90%;margin: 0 auto;overflow: hidden;border-top: 1px solid #f0f2f5;}
.cha-acc .cha-acc-con{width: 100%;overflow: hidden;}
.cha-acc-con p{float: left;width: 30%;}
.cha-acc-con p img{width: 6rem;margin: 1rem;}
.cha-acc-con ul{width: 70%;float: left;margin-top: 1rem;}
.cha-acc-con ul li{color: #666;}
.cha-acc-con ul li span{overflow: hidden;}
.cha-acc .cha-acc-but{width: 70%;float: right;margin-bottom: 1rem;}
.cha-acc .cha-acc-but a{color: #fff;height: 3.6rem;line-height: 3.6rem;background-color: #ff303d;text-align: center;display: block;border-radius: 5px;font-size: 16px;width: 70%;}
/*微信端登录管理*/