.my-bla{margin-top: 15px;overflow: hidden;}
.my-bla p{margin-left: 1rem;}
.my-bla p span{color: #ff303d;}
.my-bla p b{color: #666;margin-right: 5px;font-weight: initial;}
.my-bla table{background-color: #fff;text-align: center;width: 100%;margin-top: 15px;}
.my-bla td{border-bottom: 1px solid #f0f2f5;height: 3.2rem;}
.my-bla .rec{border-bottom: 3px solid #ff303d;}
.my-bla .con{border-bottom: none;}
.my-bla .tim{width: 40%;}
.my-bla .gra td{color: #666;font-size: 12px;}
/*我的余额*/

.footer-my{background-color: #ff303d;}
/*底部导航*/