.new-build-address{background-color: #fff;margin-top: 15px;width: 100%;overflow: hidden;}
.new-address{margin: 0px auto;width: 90%;margin-top: 15px;height: 4.4rem;}
.new-address p{line-height: 4.4rem;float: left;margin-right: 2rem;}
.new-address .address-input{height: 4.4rem;width: 70%;border: none;float: left;border-bottom: 1px solid #f0f2f5;}
.new-address input{height: 4.4rem;width: 100%;border: none;font-size: 14px;outline: none;box-shadow:none;}
/*新建收货地址共用样式*/

.new-address-area{height: 4.4rem;width: 90%;margin: 0px auto;margin-top: 15px;}
.new-address-area p{height: 4.4rem;line-height: 4.4rem;float: left;margin-right: 2rem;}
.new-address-area .address-sel{height: 4.4rem;width: 72%;float: left;}
.new-address-area .address-sel select{height: 4.2rem;width: 28%;outline: none;box-shadow:none;outline: none;} 
.new-address-area .address-sel select:nth-child(2){margin: 0 6%;}
/*地区选择*/

.new-address-save{background-color: #ff303d;width: 75%;height: 3.6rem;text-align: center;border-radius: 5px;margin: 15px auto;}
.new-address-save a{line-height: 3.6rem;display: block;color: #fff;font-size: 16px;}
/*保存并使用*/