.pay-success .tit {margin-top: 3rem;text-align: center;font-size: 16px;font-weight: bold;}
.pay-success .tit img{vertical-align: middle;width: 2.5rem;margin-right: 3px;}
.pay-success .tit span{color: #666;}
.pay-success .con{margin-top: 15px;text-align: center;font-size: 12px;}
.pay-success .con a{color: #3f6de0;margin: 0 5px;}