.view{overflow: hidden;}
.view-remind{color: #666;margin: 1rem;}
.view-con{background-color: #fff;overflow: hidden;width: 100%;}
.view-con-title input{height: 3.2rem;width: 100%;border: none;border-bottom: 1px solid #f0f2f5;text-indent: 2rem;}
.view-con-con textarea{height: 150px;width: 100%;text-indent: 2rem;border: none;line-height: 3.2rem;}
.view-submit{width: 75%;height: 3.6rem;margin: 0 auto;margin-top: 2rem;}
.view-submit a{color: #fff;height: 3.6rem;line-height: 3.6rem;background-color: #ff303d;text-align: center;display: block;border-radius: 5px;font-size: 16px;}
/*意见反馈*/